architecture: standalone

auth:
  enabled: false

master:
  persistence:
    enabled: false

replica:
  replicaCount: 0

resources:
  requests:
    memory: 128Mi
    cpu: 100m
  limits:
    memory: 256Mi
    cpu: 250m