replicaCount: 1

image:
  repository: searxng/searxng
  pullPolicy: IfNotPresent
  tag: latest

serviceAccount:
  create: false
  name: ""

service:
  type: ClusterIP

containerPorts:
  - name: http
    port: 8080

volumes:
  - name: searxng-config
    configMap:
      name: searxng-config

volumeMounts:
  - name: searxng-config
    mountPath: /etc/searxng/settings.yml
    subPath: settings.yml

# livenessProbe:
#   httpGet:
#     path: /
#     port: http

# readinessProbe:
#   httpGet:
#     path: /
#     port: http

resources:
  limits:
    cpu: 100m
    memory: 512Mi

# This section is for setting up autoscaling more information can be found here: https://kubernetes.io/docs/concepts/workloads/autoscaling/
autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 5
  targetCPUUtilizationPercentage: 80
  # targetMemoryUtilizationPercentage: 80